{
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next/(.*)$",
    "^@mui/(.*)$",
    "^mdi-icons",
    "^clsx$",
    "^@aglyn/(.*)$",
    "^[./]",
    "^[^./]",
    ".*"
  ],
  "importOrderSeparation": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["tsconfig.*.json", "tsconfig.json", "tsdoc.*.json", "tsdoc.json"],
      "options": {
        "printWidth": 140
      }
    }
  ]
}
