{
  "bracketSpacing": false,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next/(.*)$",
    "^@mui/(.*)$",
    "^mdi-icons",
    "^clsx$",
    "^@aglyn/(.*)$",
    "^[./]",
    "^[^./]",
    ".*"
  ],
  "importOrderSeparation": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWith": 2,
  "trailingComma": "all",
  "useTabs": false
}
