# General
PORT=4500
HOSTNAME=localhost
HOST=$HOSTNAME:$PORT
HOST_URL=http://$HOST

# Aglyn
AGLYN_TENANT_DOMAIN=aglyn.com
AGLYN_TENANT_SUBDOMAIN=myhost-1
AGLYN_TENANT_HOSTNAME=AGLYN_TENANT_SUBDOMAIN.$AGLYN_TENANT_STEM_DOMAIN
AGLYN_TENANT_CNAME=

# Node
NODE_ENV=development
NODE_LOG=logs/node-debug.development.log
NODE_OPTIONS="--trace-warnings"

# Nx
NX_VERBOSE_LOGGING=true
NX_PERF_LOGGING=false

# Next
ANALYZE_STATS_ENABLED=false
NEXT_ANALYZE_BUNDLE=false
